@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>To collection database: Dumpster</p>
</div>

@if (User.Identity.IsAuthenticated)
{
    <p>Welcome, @User.Identity.Name!</p>

    @if (User.IsInRole("Admin"))
    {
        <p>You are an Admin!</p>
    }
    else if (User.IsInRole("User"))
    {
        <p>You are a User!</p>
    }
    else
    {
        <p>Your role is not recognized.</p>
    }
}
else
{
    <p>Welcome, Guest!</p>
}